
/* Side bar */
.nav-header .title {
    font-size: 15pt;
}

.ibox-content {
    display: inline-block;
    width: 100%;
}

.disabled {
    opacity: 0.5;
}

.fbox {
    display: flex;
    align-items: center;
}

.fbox input:nth-child(1) {
    margin-right: 20px;
}